<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Backend</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Backend.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" asp-append-version="true">
</head>

<body>
    <header>
        <nav>
            <div class="logo-nav-div">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="logo"><img src="~/logo.png"
                        asp-append-version="true"></a>
                <div id="nav-div" class="hidden">
                    <partial name="_LoginPartial" />
                    <ul class="">
                        <li class="">
                            <a class="" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="">
                            <a class="" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li>
                            <a class="" asp-area="" asp-controller="Post" asp-action="index">Post</a>

                        </li>
                    </ul>
                </div>
            </div>
            <button type="button" id="nav-toggle-btn" aria-label="Toggle navigation">
                <span class="nav-menu-span"></span>
                <span class="nav-menu-span"></span>
                <span class="nav-menu-span"></span>
            </button>

        </nav>
    </header>
    <div class="container">
        <main>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons created by Freepik - Flaticon</a>
        <div class="container">
            &copy; 2025 - Backend - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/header.js" asp-append-version="true"></script>
    <script src="~/js/account.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
