<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["PageTitle"] - Blogify</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Backend.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" asp-append-version="true">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <div class="logo-nav-div">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="logo"><img src="~/logo.png"
                        asp-append-version="true"></a>
                <div id="nav-div" class="nav-hidden">
                    <partial name="_LoginPartial" />
                    <ul class="nav-ul">
                        <li>
                            <a class="nav-link" tabindex="-1" asp-area="" asp-controller="Post"
                                asp-action="index"><button class="nav-discover-button">Utforska</button></a>
                        </li>
                    </ul>
                    <div class="mobile-nav-only">
                        <ul>
                            <li>
                                <a class="nav-link" tabindex="-1" asp-area="" asp-controller="Post"
                                    asp-action="Posts"><button class="nav-discover-button">Min blogg</button></a>
                            </li>
                            <li>
                                <a class="nav-link" tabindex="-1" asp-area="" asp-controller="Subscribe"
                                    asp-action="index"><button class="nav-discover-button">Prenumerationer</button></a>
                            </li>
                            <li>
                                <a class="nav-link" tabindex="-1" asp-area="" asp-controller="Collection"
                                    asp-action="index"><button class="nav-discover-button">Samlingar</button></a>
                            </li>
                            <li>
                                <form asp-area="Identity" asp-page="/Account/Logout"
                                    asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button type="submit" class="nav-discover-button">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <button type="button" id="nav-toggle-btn" aria-label="Toggle navigation">
                <span class="nav-menu-span"></span>
                <span class="nav-menu-span"></span>
                <span class="nav-menu-span"></span>
            </button>

        </nav>
    </header>
    <div class="container">
        <main>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons created by Freepik -
            Flaticon</a>
        <div class="container">
            &copy; 2025 - Blogify
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/header.js" asp-append-version="true"></script>
    <script src="~/js/account.js" asp-append-version="true"></script>
    <script src="~/js/posts.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>