#profile-dropdown {
    position: absolute;
    top: 68px;
    right: 5px;
    width: auto;
    height: 60px;
    padding: 5px 10px 15px;
    border-radius: 5px;
    background-color: rgb(80, 80, 80);
    font-size: 20px;
}

#profile-dropdown button {
    width: 80px;
    height: 36px;
    margin: 5px;
    padding: 5px;
    background-color: #A72121;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.25s background;
}

#profile-dropdown button:hover {
    background-color: #6B0000;
}

.hidden {
    display: none;
}

.profile-btn { 
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  width: 80px;
  height: 70px;
}