@model Backend.Models.Collection

@{
    ViewData["PageTitle"] = "Create";
}

<a asp-action="Index"><button class="return-button">← Tillbaka</button></a>
<h1 class="create-posts-heading">Skapa samling</h1>
    <div class="create-form">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" ></div>
            <div class="collection-title-div">
                <label asp-for="Title" class="visually-hidden" ></label>
                @Html.TextArea("Title", new { placeholder ="Namn på samling" })
                <span asp-validation-for="Title"></span>
            </div>
            <div  class="publish-div">
                <input type="submit" class="publish-button" value="Skapa" />
            </div>
        </form>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
