h1 {
    margin: 60px auto 20px;
    text-align: center;
    font-size: 48px;
}

.collection-title-div textarea{
    width: 300px;
}

.publish-div{
    width: max-content;
    margin: 0 auto;
}

.publish-button {
    position: absolute;
    top: 90px;
    right: 5px;
}

@media (min-width: 768px) {
    .publish-button {
        top: 0px;
        left: 0;
        right: 0;
    }
}