@model Backend.Models.Post

@{
    ViewData["PageTitle"] = "Skapa blogginlägg";
}

<h1 class="create-posts-heading">Skapa blogginlägg</h1>

    <div class="create-form">
            <a asp-action="Posts"><button class="return-button">← Tillbaka</button></a>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" ></div>
            <div class="title-div">
                <label asp-for="Title" class="visually-hidden" ></label>
                @Html.TextArea("Title", new { @class = "desc-input", placeholder ="The perfect Title!" })
                <span asp-validation-for="Title" ></span>
            </div>
            <div class="desc-div">
                <label asp-for="Description" class="visually-hidden" ></label>
                @Html.TextArea("Description", new { @class = "desc-input", placeholder ="Your posts perfect description! (Max 200 characters)" })
                <span asp-validation-for="Description" ></span>
            </div>
            <div class="content-div">
                <label asp-for="Content" class="visually-hidden"></label>
                @Html.TextArea("Content", new { @class = "", placeholder ="Your posts content goes here!" })
                <span asp-validation-for="Content" ></span>
            </div>
            <div  class="publish-div">
                <input type="submit" class="publish-button" value="Publicera" />
            </div>
        </form>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
