.create-posts-heading {
    text-align: center;
}

.create-posts-heading h1 {
    font-size: 48px;
    word-break: break-all;
}

.create-form{ 
    background-color: #c24040;
    margin: 80px auto;
    padding: 10px 0 30px;
    border-radius: 20px;
}

.title-div {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 500px;
    margin: 20px auto;
}

.desc-div {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 650px;
    margin: 10px auto;
}


.content-div {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

.return-button {
  top: 130px;
  left: 5px;
}

.publish-button {
    position: absolute;
    top: 130px;
    right: 5px;
}

@media (min-width: 768px) {
    .create-form{ 
        margin: 20px auto;
    }

    .return-button {
        top: 15px;
        left: 210px;
      }
      
      .publish-button {
          top: 0px;
          left: 0;
          right: 0;
      }
  }