@model Backend.Models.Post

@{
    ViewData["PageTitle"] = "Radera";
}

<div class="details-main-div">
    <h1>Är du säker på att du vill ta bort detta inlägg?</h1>
    <a asp-action="Details" asp-route-id="@Model.Id">
        <article class="discover-post">
            <div class="discover-post-info">
                <img src="~/logo.png" alt="" class="discover-post-img">
                <div>
                    <h3>@Html.DisplayFor(model => model.Title)</h3>

                    <p>@Html.DisplayFor(model => model.Date)</p>
                </div>
            </div>
        </article>
    </a>

    <a asp-action="Posts"><button class="return-button">← Tillbaka</button></a>
</div>

<div class="publish-div">
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Radera" class="publish-button" />
    </form>
</div>

