.details-main-div {
    width: 95%;
    margin: 60px auto 50px;
    background-color: white;
}

.details-main-div h1 {
    font-size: 40px;
}

.details-info-div {
    font-size: 18px;
}

.details-desc-div {
    width: 50%;
    margin: 10px auto;
}

.details-desc-div button {
    display: block;
    width: 120px;
    height: 30px;
    margin: 0 auto;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #A72121;
    color: white;
    font-size: 20px;

}

.details-desc-div-btn-dormant {
    border-radius: 10px;
}

.details-desc-div div {
    max-width: 300px;
    margin: 0 auto;
    padding: 10px;
    background-color: #A72121;

}

.details-desc-div div>* {
    padding: 5px;
    background-color: white;
    font-family: "Raleway", sans-serif;
}

.details-content-div {
    font-size: 20px;
    line-height: 32px;
    overflow-wrap: break-word;
    word-break: break-word;
    font-family: "Raleway", sans-serif;
}

.publish-button {
    position: absolute;
    top: 90px;
    right: 5px;
}

.details-sub-div {
}

.details-sub,
.details-unsub,
#post-details-collection-button{
    display: block;
    margin: 20px auto;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 28px;
    transition: 0.5s background;
    cursor: pointer;
}

.details-unsub{ 
    background-color: #c24040;
    color: white;
}

.details-sub{
    background-color: white;
}

.details-unsub:hover,
.details-unsub:focus
{
    background-color: #A72121;
}

.details-sub:hover,
.details-sub:focus{
    background-color: #c24040;
}

#post-details-collection-button {
    width: 300px;
    background-color: #A72121;
    color: white;
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.post-details-collection-button-dormant {
    margin-bottom: 20px !important;
    border-radius: 10px !important;
}

#post-details-collection-button:hover,
#post-details-collection-button:focus {
    background-color: #6B0000;
}

#post-details-collection-div {
    width: 286px;
    margin: 0 auto;
    padding: 5px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #D9D9D9;
}

#post-details-collection-div ul {
    list-style: none;
}

#post-details-collection-div li {
    margin: 10px;
}

#post-details-collection-div p {
    margin-left: 10px;
    display: inline;
    font-size: 24px;
}

.post-details-collection-form-button{
    display: block;
    margin: 5px auto;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #c24040;
    color: white;
    font-size: 20px;
    transition: 0.5s background;
    cursor: pointer;
}

.post-details-collection-form-button:hover,
.post-details-collection-form-button:focus{
    background-color: #A72121;
}

@media (min-width: 768px) {

    .details-main-div {
        margin: 20px auto 50px;
    }

    .publish-button {
        top: 0px;
        left: 0;
        right: 0;
    }

    .details-sub,
    .details-unsub,
    #post-details-collection-button {
        margin: 20px 10px 0;
    }
    
    #post-details-collection-div{
        margin: 0 10px 20px;
    }
}