.edit-posts-heading {
    text-align: center;
}

.edit-posts-heading h1 {
    font-size: 48px;
}

.edit-form{ 
    width: 95%;
    margin: 20px auto;
    padding: 10px 0 30px;
    border-radius: 20px;
    background-color: #c24040;
}

.title-div {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 500px;
    margin: 20px auto;
}

.desc-div {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 650px;
    margin: 10px auto;
}


.content-div {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

.delete-button{
    display: block;
    width: 150px;
    height: 50px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #A72121;
    color: white;
    font-size: 28px;
    transition: 0.25s background;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #6B0000;
}

@media (min-width: 768px) {
    .delete-button{
        position: absolute;
        right: 300px;
        top: 15px;
    }
  }