.edit-posts-heading {
    text-align: center;
}

.edit-posts-heading {
    font-size: 48px;
    margin: 60px auto 0;
}

.edit-form{ 
    width: 95%;
    margin: 20px auto;
    padding: 10px 0 30px;
    border-radius: 20px;
    background-color: #c24040;
}

.title-div {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 500px;
    margin: 20px auto;
}

.desc-div {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 650px;
    margin: 10px auto;
}


.content-div {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

.publish-button {
    position: absolute;
    top: 90px;
    right: 5px;
}

@media (min-width: 768px) {
    .publish-button {
        top: 0px;
        left: 0;
        right: 0;
    }
}

@media (min-width: 1024px) {
    .delete-button{
        position: absolute;
        right: 240px;
        top: 15px;
    }
  }