@model Backend.Models.Post

@{
    ViewData["PageTitle"] = "Redigera";
}


    <h1 class="edit-posts-heading">Redigera</h1>
    <div class="edit-form">
    <a asp-action="Posts"><button class="return-button">← Tillbaka</button></a>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" ></div>
            <input type="hidden" asp-for="Id" />
            <div class="title-div">
                <label asp-for="Title" class="visually-hidden" ></label>
                @Html.TextArea("Title", new { @class = "desc-input", placeholder ="The perfect Title!" })
                <span asp-validation-for="Title" ></span>
            </div>
            <div class="desc-div">
                <label asp-for="Description" class="visually-hidden" ></label>
                @Html.TextArea("Description", new { @class = "desc-input", placeholder ="Your posts perfect description! (Max 200 characters)" })
                <span asp-validation-for="Description" ></span>
            </div>
            <div class="content-div">
                <label asp-for="Content" class="visually-hidden"></label>
                @Html.TextArea("Content", new { @class = "", placeholder ="Your posts content goes here!" })
                <span asp-validation-for="Content" ></span>
            </div>
            <div  class="publish-div">
                <input type="submit" class="publish-button" value="Spara" />
            </div>
        </form>
    </div>


<div>
    <a asp-action="Delete" asp-route-id="@Model.Id"><button class="delete-button">Radera</button></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
