.title-div {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 500px;
    margin: 20px auto;
}

.desc-div {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 650px;
    margin: 10px auto;
}


.content-div {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

.submit-div {
  position: fixed;
  top: 50px;
  right: 100px;
}

.form-div {
}