.your-posts-heading {
    text-align: center;
}

.your-posts-heading h1 {
    font-size: 48px;
    word-break: break-all;
}

.your-posts-div {
    width: 95%;
    max-width: 500px;
    margin: 0 auto;
    padding: 5px 0;
    background-color: #c24040;
}

article {
    transition: 0.1s;
}

article:hover {
    box-shadow: 2px 2px 4px black;
    transform: scale(1.1);
}

.my-subs-button,
.my-collection-button {
    visibility: hidden;
    position: absolute;
}

@media (min-width: 768px) {

    .my-subs-button,
    .my-collection-button {
        position: fixed;
        visibility: initial;
        display: block;
        top: 113px;
        width: max-content;
        height: 50px;
        padding: 5px;
        border: 2px solid black;
        border-radius: 10px;
        background-color: #A72121;
        color: white;
        font-size: 28px;
        transition: 0.5s background;
        cursor: pointer;
    }

    .my-subs-button {
        right: 20px;
    }

    .my-collection-button {
        left: 100px;
    }

    .my-subs-button:hover,
    .my-collection-button:hover,
    .my-subs-button:focus,
    .my-collection-button:focus {
        background-color: #6B0000;
    }
}

@media (min-width: 1024px) {
    .my-subs-button,
    .my-collection-button {
        position: absolute;
        top: 15px;
        height: 50px;
        padding: 5px;
        border: 2px solid black;
        border-radius: 10px;
        font-size: 28px;
    }

    .my-subs-button {
        right: 225px;
    }

    .my-collection-button {
        left: auto;
        right: 455px;
    }
}

@media (min-width: 1440px) {}