.your-posts-heading {
    text-align: center;
}

.your-posts-heading h1 {
    font-size: 48px;
}

.your-posts-div {
    width: 95%;
    max-width: 500px;
    margin: 0 auto;
    padding: 5px 0;
    background-color: #c24040;
}

article {
    transition: 0.1s;
}

article:hover {
    box-shadow: 2px 2px 4px black;
    transform: scale(1.1);
}

article:hover * {

}

.discover-post {
    width: 90%;
    max-width: 420px;
    margin: 5px auto;
    background-color: white;
}

.discover-post-info {
    display: grid;
    grid-template-columns: 100px auto;
    padding: 5px;
}


.discover-post-info h3,
.discover-post-info p{
    color: black;
}

.discover-post-text {
    padding: 5px;
    line-height: 20px;
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1440px) {
}