.my-posts-button{
    display: block;
    width: 150px;
    height: 50px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #A72121;
    color: white;
    font-size: 28px;
    transition: 0.25s background;
    cursor: pointer;
}

.my-posts-button:hover,
.my-posts-button:focus {
    background-color: #6B0000;
}

@media (min-width: 768px) {
    .my-posts-button{
        position: absolute;
        right: 240px;
        top: 15px;
    }
  }

