@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div>
    <div>
        <div>
            <partial name="_ManageNav" />
            <a asp-action="Posts" asp-controller="Post"><button class="my-posts-button">Min blogg</button></a>
            <div class="publish-div">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                    asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="publish-button">Logout</button>
                </form>
            </div>
        </div>
        <div class="account-main-div">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
