@page
@model PersonalDataModel
@{
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h1>Personlig data</h1>

<div>
    <div class="data-div">
        <p>Ditt användarkonto innehåller personliga uppgifter du gett tillbaka oss. Denna sida låter dig ladda eller radera denna data. </p>
        <p>
            <strong>Att ta bort denna data raderar ditt användarkonto permanent och kan inte återställas.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="account-a-btn" type="submit">Ladda ner</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData"><button class="account-a-btn">Radera</button></a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
