@page
@model LoginModel

@{
    ViewData["PageTitle"] = "Logga in";
}


<div class="account-page-main-div">
    <div id="login-page-login-div" class="account-first-div">
        <section>
            <form id="account" method="post">
                <h1>Logga in</h1>

                <div asp-validation-summary="ModelOnly" class="error-alert" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="account-inputs" autocomplete="username" aria-required="true"
                        placeholder="Email" />
                    <label asp-for="Input.Email" class="visually-hidden">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="account-inputs" autocomplete="current-password"
                        aria-required="true" placeholder="Password" />
                    <label asp-for="Input.Password" class="visually-hidden">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <button id="login-submit" class="account-submit-btn" type="submit">Log in</button>
                </div>
            </form>
        </section>
    </div>
    <div id="login-page-register-div" class="account-second-div">
        <div>
            <h2>Redo att skapa din egna blogg?</h2>
            <p>Fyll i dina uppgifter och börja din resa med oss</p>
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl"><button class="account-a-btn">Skapa
                    konto</button></a>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
