html {
  font-size: 14px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* scoped css funkar inte på dessa  */
.title-div input{
  background-color: aquamarine;
  font-size: 30px;
}

.desc-div textarea{
  resize: none;
  min-height: 50px;
  height: auto;
  border: none;
  border-bottom: 1px solid black;
}

.desc-div textarea:focus,
.content-div textarea:focus{
  background-color: rgb(235, 255, 255);
  outline: none;
}

.content-div textarea {
  resize: none;
  min-height: 400px;
  height: auto;
  border: none;
}