* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

a {
  text-decoration: none;
}

main {
  max-width: 1000px;
  margin: auto;
}

.logo {
  display: block;
  width: 200px;
  height: 80px;
}

.logo img {
  width: auto;
  height: 75px;
  margin-top: 5px;
  margin-left: 5px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.hidden {
  visibility: hidden;
  position: absolute;
}

.field-validation-error{
  width: max-content;
  padding: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  font-size: 18px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* scoped css funkar inte på dessa  */

.error-alert ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

#profile-dropdown a {
  color: white;
  transition: 0.25s color;
}

#profile-dropdown a:hover {
  color: #A72121;
}

.profile-nav a {
  display: block;
  padding: 5px 10px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 14px;
  color: black;
  transition: 0.25s;
}

.profile-nav a:hover {
  background-color: #6B0000;
  color: white;
}

.profile-nav a.active {
  background-color: #c24040;
  color: white;
}

#status-msg-div {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 24px;
  text-align: center;
}

.account-inputs {
  display: block;
  width: 80%;
  margin: 20px auto 5px;
  padding: 4px;
  border: none;
  font-size: 20px;
  color: black;
}

.account-labels {
  display: block;
  width: 80%;
  font-size: 20px;
  color: white;
  margin: 0 auto;
}

.data-div p {
  color: white;
  width: 50%;
  margin: 10px auto;
  font-size: 16px;
}

.account-main-div {
  background-color: #c24040;
  padding: 5px 0;
}

.account-main-div h1 {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.account-page-main-div {
  width: 95%;
  max-width: 500px;
  margin: 40px auto;
}

.account-page-main-div h2 {
  text-align: center;
}

.account-first-div {
  background-color: #D9D9D9;
}

.account-second-div {
  background-color: #A72121;
  color: white;
}

.account-first-div form,
.account-second-div div {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}

.account-submit-btn {
  display: block;
  width: 134px;
  height: 36px;
  margin: 30px auto;
  padding: 3px;
  border: none;
  border-radius: 10px;
  background-color: #A72121;
  color: white;
  font-size: 20px;
  transition: 0.25s background;
  cursor: pointer;
}

.account-submit-btn:hover,
.account-a-btn:hover {
  background-color: #6B0000;
}

.account-a-btn {
  display: block;
  width: 134px;
  height: 36px;
  margin: 30px auto;
  border: 3px solid white;
  border-radius: 10px;
  background-color: #A72121;
  color: white;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: 0.25s background;
}

.login-btn {
  padding: 5px;
  border: none;
  border-radius: 10px;
  background-color: #A72121;
  color: white;
  font-size: 24px;
  transition: 0.25s background;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #6B0000;
}

/* Home/index */

.index-main-a-btn {
  display: block;
  width: max-content;
  margin: 5px auto;
}

/* Post main gränssnit (discover) */

.discover-post-img {
  display: block;
  width: 95%;
  margin: 5px auto;
  object-fit: cover;
}

.discover-post-readmore {
  color: black;
}

.discover-post-readmore:hover {
  text-decoration: underline;
}

.discover-post {
    width: 90%;
    max-width: 420px;
    margin: 5px auto;
    background-color: white;
}

.discover-post-info {
    display: grid;
    grid-template-columns: 100px auto;
    padding: 5px;
}


.discover-post-info h3,
.discover-post-info p{
    color: black;
}

.discover-post-text {
    padding: 5px;
    line-height: 20px;
}

/* Post details */

.details-img{
  display: block;
  width: 100%;
  height: auto;
  max-height: 300px;
  margin: 10px 0 30px;
  object-fit: cover;
}

/* Post admin gränssnitt */

.title-div textarea {
  resize: none;
  font-size: 24px;
  padding: 2px;
  border: none;
  border-bottom: 2px solid black;
  text-align: center;
  transition: 0.25s border-radius;
}

.desc-div textarea {
  resize: none;
  min-height: 100px;
  height: auto;
  padding: 4px;
  border: none;
  border-bottom: 1px solid black;
  transition: 0.25s border-radius;
}

.content-div textarea {
  resize: none;
  min-height: 400px;
  height: auto;
  padding: 4px;
  border: none;
  transition: 0.25s border-radius;
}

.title-div textarea:focus,
.desc-div textarea:focus,
.content-div textarea:focus {
  outline: 5px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  background-color: #fafafa;
}

.publish-button {
  display: block;
  width: 150px;
  height: 50px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #A72121;
  color: white;
  font-size: 28px;
  transition: 0.25s background;
  cursor: pointer;
}

.publish-button:hover {
  background-color: #6B0000;
}

.return-button {
  display: block;
  height: 50px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #A72121;
  color: white;
  font-size: 28px;
  transition: 0.25s background;
  cursor: pointer;
}

.return-button:hover {
  background-color: #6B0000;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  .account-page-main-div {
    width: 600px;
    max-width: none;
  }

  .logo-nav-div {
    display: grid;
    grid-template-columns: 200px auto;
  }

  .profile-nav a {
    font-size: 20px;
  }

  .data-div p {
    font-size: 20px;
  }

  .publish-div {
    position: absolute;
    top: 15px;
    right: 120px;
  }
  
  .return-button {
    position: absolute;
    top: 15px;
    left: 250px;
  }
}

@media (min-width: 1024px) {

  .account-page-main-div {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .account-first-div,
  .account-second-div {
    height: 400px;
  }
}